.React {
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .Question {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .Question-index {
            width: 100%;
            font-size: 10px;
            text-align: center;
            color: rgba($C1, 0.25);
            text-transform: uppercase;
            margin-top: 20px;
            font-weight: 700;
        }
        .Question-description {
            width: 100%;
            font-size: 10px;
            text-align: center;
            font-weight: 300;
            color: rgba($C1, 0.75);
            margin-top: 20px;
        }
        .Question-title {
            width: 100%;
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            color: rgba($C3, 1);
            margin-top: 20px;
            text-transform: uppercase;
        }
    }
    .Answers {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Answer {
            width: 17.5%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            background-color: $C4;
            user-select: none;
            transition: all 0.5s ease;
            z-index: 1;
            svg {
                color: rgba($C1, 0.2);
                user-select: none;
                pointer-events: none;
            }
            &:not(.Selected):hover {
                background-color: rgba($C1, 0.1);
                cursor: pointer;
                svg {
                    color: rgba($C1, 0.2);
                }
            }
        }
        .Big {
            height: 100%;
            svg {
                font-size: 22.5px;
            }
        }
        .Medium {
            height: 75% + 15%;
            svg {
                font-size: 20px;
            }
        }
        .Small {
            height: 70%;
            svg {
                font-size: 17.5px;
            }
        }
        .Selected:not(svg) {
            background-color: $C3;
            box-shadow: 25px 0px 100px rgba($C1, 0.5);
            cursor: pointer;
            z-index: 2;
            svg {
                color: $C4;
            }
            &:hover {
                background-color: rgba($C3, 0.75);
            }
        }
        .Selected.BigPositive {
            $color: rgba($C2, 0.6);
            background-color: $color;
            box-shadow: 25px 0px 100px rgba($C2, 0.5);
            svg {
                color: $C4;
            }
            &:hover {
                background-color: rgba($color, 0.7);
            }
        }
        .Selected.MediumPositive {
            $color: rgba($C2, 0.4);
            background-color: $color;
            box-shadow: 25px 0px 100px rgba($C2, 0.35);
            svg {
                color: $C4;
            }
            &:hover {
                background-color: rgba($color, 0.5);
            }
        }
        .Selected.SmallNeutral {
            $color: rgba($C2, 0.35);
            filter: saturate(0);
            background-color: $color;
            box-shadow: 25px 0px 100px rgba($C1, 0.25);
            svg {
                color: rgba($C4, 1);
            }
            &:hover {
                background-color: rgba($color, 0.6);
            }
        }
        .Selected.MediumNegative {
            $color: rgba($C5, 0.4);
            background-color: $color;
            box-shadow: 25px 0px 100px rgba($C5, 0.35);
            svg {
                color: $C4;
            }
            &:hover {
                background-color: rgba($color, 0.5);
            }
        }
        .Selected.BigNegative {
            $color: rgba($C5, 0.6);
            background-color: $color;
            box-shadow: 25px 0px 100px rgba($C5, 0.5);
            svg {
                color: $C4;
            }
            &:hover {
                background-color: rgba($color, 0.7);
            }
        }
    }
    .Buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        $btnHeight: 40px;
        .btnText {
            @include TextButton($C2);
            width: 45%;
            border: 2px solid $C2;
            border-width: 1.5px;
            height: $btnHeight;
        }
        .btnPrimary {
            @include PrimaryButton($C2);
            width: 45%;
            height: $btnHeight;
        }
    }
}