@mixin BodyBackground() {
    background: linear-gradient(107.56deg, #FAFAFA 0%, #EBF5F7 49.48%, #F2F2F2 100%);
}

@mixin GradientBorder($color) {
    border: double 4px transparent;
    border-radius: 25px;
    background-image: linear-gradient($color, $color), radial-gradient(circle at bottom left, rgba($C2, 0.25), rgba($C4, 0.1), rgba($C3, 0.25));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@mixin WidgetShadow($color) {
    box-shadow: 0px 0px 100px rgba($color, 0.5);
}

@mixin media($query) {
    @media ($query) {
        @content;
    }
}

$padding: 9.5px 25px;
$font-weight: bold;
$font-size: 0.8rem;
$border-radius: 7.5px;
// 
// 
@mixin PrimaryButton($color) {
    background-color: rgba($color, 1);
    color: rgba($C4, 0.8);
    font-weight: $font-weight;
    font-size: $font-size;
    box-shadow: 0px 20px 50px rgba($color, 0.25);
    padding: $padding;
    font-family: Poppins, sans-serif;
    border-radius: $border-radius;
}

@mixin TextButton($color) {
    color: rgba($color, 1);
    margin-right: 15px;
    font-weight: $font-weight;
    font-size: $font-size;
    padding: $padding;
    font-family: Poppins, sans-serif;
    border-radius: $border-radius;
}

@mixin SecondaryButton($color) {
    color: rgba($color, 1);
    margin-right: 15px;
    font-weight: $font-weight;
    font-size: $font-size;
    padding: $padding;
    font-family: Poppins, sans-serif;
    border-radius: $border-radius;
    -webkit-box-shadow: inset 0px 0px 0px 1.5px $color;
    -moz-box-shadow: inset 0px 0px 0px 1.5px $color;
    box-shadow: inset 0px 0px 0px 1.5px $color;
}