// Colors
//
$C1: #0D1321;
$C2: #26C485;
$C3: #06BEE1;
$C4: #F2F2F2;
$C5: #E63946;
//
//
// Gradients
//
$GC1: linear-gradient(to bottom right, #222222 0%, #4A4A4A 100%);
$GC2: linear-gradient(to bottom right, #26C485 0%, #75F0BF 100%);
$GC3: linear-gradient(to bottom right, #06BEE1 0%, #4DDBF6 100%);
$GC4: linear-gradient(to bottom right, #F0F0F0 0%, #FFFFFF 100%);
$GC5: linear-gradient(to bottom right, #E63946 0%, #FA717C 100%);