.Container {
  width: 100%;
  height: 100%;
  background: linear-gradient(107.56deg, #FAFAFA 0%, #EBF5F7 49.48%, #F2F2F2 100%);
  overflow: hidden;
}
.Container .Background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  pointer-events: none;
}
.Container .Background .BackgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.Container .Header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 0px 60px;
  padding-top: 40px;
}
.Container .Header .HeaderContentLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Container .Header .HeaderContentLeft .Logo {
  transform: scale(0.75);
}
.Container .Header .HeaderContentLeft .NavigationLinks {
  margin-left: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Container .Header .HeaderContentLeft .NavigationLinks .LinkButton {
  font-family: Poppins, sans-serif;
  color: rgba(13, 19, 33, 0.25);
  font-weight: bold;
  font-size: 14px;
  padding: 7px 14px;
}
.Container .Header .HeaderContentLeft .NavigationLinks .LinkButton:hover {
  color: #26C485;
  cursor: pointer;
}
.Container .Header .HeaderContentLeft .NavigationLinks .LinkButton:not(:last-child) {
  margin-right: 20px;
}
.Container .Header .HeaderContentRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.Container .Header .HeaderContentRight .TextButton {
  color: #26c485;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 14px;
  font-family: Poppins, sans-serif;
}
.Container .Header .HeaderContentRight .PrimaryButton {
  background-color: #26c485;
  color: rgba(242, 242, 242, 0.8);
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 20px 50px rgba(38, 196, 133, 0.25);
  padding: 7px 14px;
  font-family: Poppins, sans-serif;
}
.Container .MobileHeader {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.Container .MobileHeader .Logo {
  transform: scale(0.75);
}
.Container .MobileHeader .MenuIcon {
  width: 100px;
  height: 30px;
  background-color: #26C485;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px 0px 0px 50px;
  position: relative;
  overflow: hidden;
}
.Container .MobileHeader .MenuIcon .HamburgerMenu {
  position: relative;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7.5px;
  cursor: pointer;
  transform: scale(0.8);
}
.Container .MobileHeader .MenuIcon .HamburgerMenu span {
  width: 70%;
  height: 3px;
  background-color: #F2F2F2;
  display: block;
  position: relative;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.Container .MobileHeader .MenuIcon .HamburgerMenu span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  transform-origin: left top;
}
.Container .MobileHeader .MenuIcon .HamburgerMenu span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
}
.Container .MobileHeader .MenuIcon .HamburgerMenu span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  transform-origin: left top;
}
.Container .MobileHeader .MenuIcon .Open {
  position: relative;
}
.Container .MobileHeader .MenuIcon .Open span {
  width: 30px;
  height: 3px;
  background-color: #F2F2F2;
  display: block;
  position: relative;
  border-radius: 50px;
}
.Container .MobileHeader .MenuIcon .Open span:nth-child(1) {
  width: 20px;
  height: 2.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: left top;
}
.Container .MobileHeader .MenuIcon .Open span:nth-child(2) {
  width: 100%;
  height: 3px;
  transform: translateX(100%);
  opacity: 0;
}
.Container .MobileHeader .MenuIcon .Open span:nth-child(3) {
  width: 20px;
  height: 2.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: left top;
}
.Container .MobileHeader .Menu {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: double 4px transparent;
  border-radius: 25px;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at bottom left, rgba(38, 196, 133, 0.25), rgba(242, 242, 242, 0.1), rgba(6, 190, 225, 0.25));
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.Container .MobileHeader .Menu .MenuContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Container .MobileHeader .Menu .MenuContent .LinkButton {
  color: rgba(13, 19, 33, 0.25);
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 14px;
}
.Container .MobileHeader .Menu .MenuContent .TextButton {
  margin-top: 15px;
  color: #26c485;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 14px;
}
.Container .MobileHeader .Menu .MenuContent .PrimaryButton {
  background-color: #26c485;
  color: rgba(242, 242, 242, 0.8);
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 20px 50px rgba(38, 196, 133, 0.25);
  padding: 7px 14px;
}
.Container .MobileHeader .OpenMenu {
  opacity: 1;
  visibility: visible;
}
.Container .Home {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  padding-top: 30px;
  padding-bottom: 250px;
}
.Container .Home .LandingPage {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Container .Home .LandingPage .LandingText {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Container .Home .LandingPage .LandingText h1 {
  font-size: 25px;
  font-weight: 800;
  color: #0D1321;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.Container .Home .LandingPage .LandingText h1 span {
  color: #06BEE1;
}
.Container .Home .LandingPage .LandingText p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(13, 19, 33, 0.5);
  margin-bottom: 30px;
}
.Container .Home .LandingPage .LandingText .Button {
  background-color: #06bee1;
  color: rgba(242, 242, 242, 0.8);
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 20px 50px rgba(6, 190, 225, 0.25);
  padding: 7px 14px;
  font-family: Poppins, sans-serif;
  border-radius: 7.5px;
}
.Container .Home .LandingPage .LandingImage {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Container .Home .LandingPage .LandingImage .Image {
  position: relative;
  width: 70%;
  height: 100%;
  right: -100px;
}
.Container .Home .Widget {
  width: 100%;
  min-height: 200px;
  background-color: #06BEE1;
  margin-top: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Container .Home .Widget .WidgetBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #06BEE1;
  border-radius: 25px;
  border: double 4px transparent;
  border-radius: 25px;
  background-image: linear-gradient(#06BEE1, #06BEE1), radial-gradient(circle at bottom left, rgba(38, 196, 133, 0.25), rgba(242, 242, 242, 0.1), rgba(6, 190, 225, 0.25));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 0px 100px rgba(6, 190, 225, 0.5);
  pointer-events: none;
}
.Container .Home .Widget .WidgetBackground .Noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #06BEE1;
  border-radius: 25px;
  mix-blend-mode: overlay;
  opacity: 25%;
}
.Container .Home .Widget .WidgetInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  flex-wrap: wrap;
}
.Container .Home .Widget .WidgetInfo .WidgetInfoSides {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 20px;
}
.Container .Home .Widget .WidgetInfo .WidgetInfoSides .Oval {
  width: 175px;
  height: 100px;
  border: 4px solid #F2F2F2;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 15px;
}
.Container .Home .Widget .WidgetInfo .WidgetInfoSides p {
  font-size: 10px;
  color: #F2F2F2;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}
.Container .Home .Widget .WidgetInfoCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.Container .Home .Widget .WidgetInfoCenter .Oval {
  width: 120px;
  height: 120px;
  border: 4px solid #F2F2F2;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 22.5px;
}
.Container .Home .Widget .WidgetInfoCenter p {
  font-size: 10px;
  color: #F2F2F2;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}
.Container .Home .Section {
  margin: 50px 0px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: no-wrap;
}
.Container .Home .Section > div {
  width: 45%;
}
.Container .Home .Section .Why {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Container .Home .Section .Why h2 {
  font-size: 20px;
  font-weight: bold;
  color: #0D1321;
  margin: 0px;
  margin-bottom: 20px;
}
.Container .Home .Section .Why h2 span {
  color: #E63946;
}
.Container .Home .Section .Why p {
  font-size: 14px;
  font-weight: 300;
  color: rgba(13, 19, 33, 0.5);
  margin-bottom: 10px;
}
.Container .Home .Section .How {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Container .Home .Section .How h2 {
  font-size: 20px;
  font-weight: bold;
  color: #0D1321;
  margin: 0px;
  margin-bottom: 20px;
}
.Container .Home .Section .How h2 span {
  color: #E63946;
}
.Container .Home .Section .How .HowInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.Container .Home .Section .How .HowInfo .Row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.Container .Home .Section .How .HowInfo .Row .Left {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: #E63946;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.Container .Home .Section .How .HowInfo .Row .Right h4 {
  font-size: 16px;
  font-weight: bold;
  color: #E63946;
}
.Container .Home .Section .How .HowInfo .Row .Right p {
  font-size: 12px;
  font-weight: 300;
  color: rgba(13, 19, 33, 0.5);
  margin-bottom: 0px;
}
.Container .Home .Section-2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.Container .Home .Section-2 > div {
  width: 45%;
}
.Container .Home .Section-2 .Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Container .Home .Section-2 .Text h4 {
  font-size: 25px;
  line-height: auto;
  margin-bottom: 30px;
  color: #0D1321;
}
.Container .Home .Section-2 .Text h4 span {
  color: #26C485;
}
.Container .Home .Section-2 .Text p {
  font-size: 14px;
  line-height: auto;
  color: rgba(13, 19, 33, 0.5);
}
.Container .Home .Section-2 .Text p:not(:last-child) {
  margin-bottom: 20px;
}
.Container .Home .Section-2 .Image {
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: -100px;
}

@media screen and (max-width: 1000px) {
  .Container {
    width: 100%;
    padding: 0;
  }
}

/*# sourceMappingURL=index.css.map */
