.Header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    padding: 0px 60px;
    padding-top: 40px;
    .HeaderContentLeft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
            cursor: pointer;
            @keyframes in {
                from {
                    transform: rotateY(0deg) scale(0.75)
                }
                ;
                to {
                    transform: rotateY(180deg) scale(0.8)
                }
                ;
            }
            @keyframes out {
                from {
                    transform: rotateY(180deg) scale(0.8)
                }
                ;
                to {
                    transform: rotateY(0deg) scale(0.75)
                }
                ;
            }
            .Logo {
                transition: all 0.3s ease;
                transform: scale(0.75);
                animation: out 0.3s ease forwards;
            }
            &:hover {
                .Logo {
                    transform: scale(0.8);
                    animation: in 0.3s ease forwards;
                    opacity: 0.8;
                }
            }
        }
        .NavigationLinks {
            margin-left: 50px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .LinkButton {
                font-family: Poppins, sans-serif;
                color: rgba($C1, 0.25);
                font-weight: bold;
                font-size: 14px;
                padding: 7px 14px;
                &:hover {
                    color: $C2;
                    cursor: pointer;
                }
            }
            .LinkButton:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    .HeaderContentRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        .TextButton {
            @include TextButton($C2);
        }
        .PrimaryButton {
            @include PrimaryButton($C2);
        }
        .NavigationLinks {
            margin-left: 50px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .LinkButton {
                font-family: Poppins, sans-serif;
                color: rgba($C1, 0.25);
                font-weight: bold;
                font-size: 14px;
                padding: 7px 14px;
                &:hover {
                    color: $C2;
                    cursor: pointer;
                }
            }
            .LinkButton:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}